$hot_blue_25: rgba(0, 105, 214, 0.25);
$hot_blue: rgb(210, 210, 255);
$light_grey: rgb(220,220,220);
$link_color: #0069d6;
$over_bg_color: #666;
$under_bg_color: #222;

$love_blue: #2E95D2;
$love_green: #19D119;
$logo_green: #49B848;
$love_red: #FB5757;
