<div ng-hide="actionComplete" class="action-of-day">
	<div class="action-text-explain">
		Pursuing a <strong>Goal</strong> that you enjoy is a big factor in life <span class="blue">fulfillment</span> and <span class="blue">happiness</span>.
	</div><br>
	<div class="action-text">
		Name a <strong>Dream</strong> you want to pursue:
	</div>

	<form id="action_form" name="dreamForm" ng-submit="saveDream()">
		<input type="text" class="dream-input" ng-model="dreamTitle" placeholder="Dream Big" required><br>
		<input type="submit" class="button submit-button dream-button" value="CREATE YOUR DREAM">
	</form>

	<div class="science-box">
<!-- 		<div class="brain-points"><strong>100</strong><div class="cell">Brain Points</div> </div> -->
<!-- 		<div class="science-happiness science-dash action-science">
			Gratitude Creates:
		</div>
		<div class="science-stat"><strong>Happiness</strong><div class="cell"></div></div>
		<div class="science-stat"><strong>Better Sleep</strong><div class="cell"></div> </div>
		<div class="science-stat"><strong>Optimism</strong><div class="cell"></div> </div>
	</div> -->
	<div class="proof-box">
		<a href="http://www.psychologytoday.com/blog/prefrontal-nudity/201211/the-grateful-brain" target="_blank">
			<div class="science-brain"></div>
			Science
		</a>
	</div>

<!-- 	<div class="points-box">
		<div class="plus">+</div>
		<strong>100</strong></br> Brain Points
	</div> -->
	</div>
</div>

<!-- ANIMATIONS after COMPLETE -->
<div class="points-anime" ng-class="{startanimate: actionComplete}" >100</div>

<!-- TEMPLATE after ACTION is COMPLETE -->
<div ng-show="actionComplete" class="gratitude-complete">
	<div class="hardwire">Hardwire Happiness:</div>
	<div class="habit">Congrats on taking the first step to achieving your <strong>Dream</strong>! Every minute you spend working towards your <strong>Dream</strong> activates pathways in your <span class="blue">Brain</span> that creates a feeling of <span class="blue">meaning</span> in your life.</div>

	<div class="habit">
		Any amount of time you spend working towards your <strong>Dream</strong> makes a difference. Start pursuing your <strong>Dream</strong> <span class="blue">NOW</span> and imagine being successful at:
	</div>

	<div class="gratitude-body">{{ dreamTitle }}</div>

	<div class="rewire-more">Rewire your <div class="science-brain reply-brain"></div> some more...</div>

<!-- 	<div>
		Wire happiness by absorbing all that is good throughout the day.
	</div> -->

	<!-- 	<div class="cells-activated">100 of your positive brain cells have been activated!</div> -->

</div>
