<div ng-hide="actionComplete" class="action-of-day">
	<div class="action-text-explain">
		Pursuing a <strong>Goal</strong> that you <span class="blue">enjoy</span> is a big factor in life <strong>fulfillment</strong> and <strong>happiness</strong>.
	</div><br>
	<div class="action-text dream-action">
		Name a <strong>Dream</strong> you want to pursue:
	</div>

	<form id="action_form" name="dreamForm" ng-submit="saveDream()">
		<input type="text" class="dream-input" ng-model="dreamTitle" placeholder="Dream Big" required><br>
		<div class="dream-min-txt">
			How many <span class="blue">minutes</span> per <span class="blue">day</span> do you want work on your <strong>Dream</strong>?
		</div>
		<input type="number" class="dream-minutes-input" ng-model="dreamMinutesGoal" placeholder="Minutes"><br>

		<input type="submit" class="button submit-button dream-button" value="LIVE YOUR DREAM">
	</form>

	<div class="science-box">
<!-- 		<div class="brain-points"><strong>100</strong><div class="cell">Brain Points</div> </div> -->
<!-- 		<div class="science-happiness science-dash action-science">
			Gratitude Creates:
		</div>
		<div class="science-stat"><strong>Happiness</strong><div class="cell"></div></div>
		<div class="science-stat"><strong>Better Sleep</strong><div class="cell"></div> </div>
		<div class="science-stat"><strong>Optimism</strong><div class="cell"></div> </div>
	</div> -->
	<div class="proof-box">
		<a href="http://yourbrainhealth.com.au/your-lifes-purpose-why-finding-your-passion-is-essential-to-maintaining-brain-health/" target="_blank">
			<div class="science-brain"></div>
			Science
		</a>
	</div>

<!-- 	<div class="points-box">
		<div class="plus">+</div>
		<strong>100</strong></br> Brain Points
	</div> -->
	</div>
</div>

<!-- ANIMATIONS after COMPLETE -->
<div class="points-anime" ng-class="{startanimate: actionComplete}" >100</div>

<!-- TEMPLATE after ACTION is COMPLETE -->
<div ng-show="actionComplete" class="gratitude-complete">
	<div class="hardwire">Hardwire Success and Meaning:</div>
  	<div class="alert alert-success success alert-anime" ng-class="{startanimate: actionComplete}">
  		Congrats! Start working on and tracking <strong>{{ dreamTitle }}</strong> <span class="blue">NOW</span>. Every minute spent brings you closer to <span class="blue">success</span> and creates <span class="blue">meaning</span> in your life.
	</div>

	<h2>{{dreamTitle}}</h2>

	<form id="action_form" class="dream-track-form" name="dreamTrackForm" ng-submit="saveDreamGoal()">
		<div class="side-note">
			<span class="blue">Science</span> proves that breaking big goals into <span class="blue">smaller goals</span> increases <strong>success</strong>.
		</div>
		<div class="med-text">
			Start with a small goal you can accomplish in <span class="blue">30 minutes</span>.
		</div>
		<input class="dream-input" type="text" ng-model="dreamSmallGoal" placeholder="Small Goal"><br>
		<input type="submit" class="button submit-button" value="START YOUR DREAM">
	</form>



	<div class="rewire-more">Rewire your <div class="science-brain reply-brain"></div> more...</div>

<!-- 		<div class="habit">
		Start pursuing your <strong>Dream</strong> <span class="blue">NOW</span> and imagine where you could be in 5 years working hard on:
	</div>

	<div class="gratitude-body">{{ dreamTitle }}</div> -->

<!-- 	<div>
		Wire happiness by absorbing all that is good throughout the day.
	</div> -->

	<!-- 	<div class="cells-activated">100 of your positive brain cells have been activated!</div> -->

</div>
