<div ng-hide="actionComplete" class="action-of-day">
	<div class="action-text">I am <strong>Grateful</strong> for...</div>

	<form id="action_form" name="gratitudeForm" ng-submit="saveGratitude()">
		<textarea id="action_text" ng-model="gratitudeBody" required></textarea><br>
<!-- 		<span class="error" ng-show="gratitudeForm.gratitude.$error.required">
      Can't be empty!</span><br> -->
		<input type="submit" class="button submit-button" value="Hardwire Happiness">
	</form>

	<div class="science-box">
<!-- 		<div class="brain-points"><strong>100</strong><div class="cell">Brain Points</div> </div> -->
<!-- 		<div class="science-happiness science-dash action-science">
			Gratitude Creates:
		</div>
		<div class="science-stat"><strong>Happiness</strong><div class="cell"></div></div>
		<div class="science-stat"><strong>Better Sleep</strong><div class="cell"></div> </div>
		<div class="science-stat"><strong>Optimism</strong><div class="cell"></div> </div>
	</div> -->
	<div class="proof-box">
		<a href="http://www.psychologytoday.com/blog/prefrontal-nudity/201211/the-grateful-brain" target="_blank">
			<img alt="Brain gradient 60px" class="science-brain" src="/assets/brain_gradient_60px.png">
			Science
		</a>
	</div>

<!-- 	<div class="points-box">
		<div class="plus">+</div>
		<strong>100</strong></br> Brain Points
	</div> -->
</div>

<!-- ANIMATIONS after COMPLETE -->
<div class="points-anime" ng-class="{startanimate: actionComplete}" >100</div>
<div ng-show="actionComplete" class="brain-activity"></div>


<!-- TEMPLATE after ACTION is COMPLETE -->
<div ng-show="actionComplete" class="gratitude-complete">
	<div class="hardwire">Hardwire Happiness:</div>
	<div class="habit">Life is <strong>Good</strong>, throughout the day breathe and deeply appreciate...</div>

	<div class="gratitude-body">{{ gratitudeBody }}</div>

<!-- 	<div>
		Wire happiness by absorbing all that is good throughout the day.
	</div> -->

	<!-- 	<div class="cells-activated">100 of your positive brain cells have been activated!</div> -->

</div>
