<div class="row">
  
  <a class="logout" data-method="delete" href="/users/sign_out" rel="nofollow">Logout</a>   

</div>

<div class="dash-logo">
<!-- 	<img alt="Logo small" class="small-logo" src="/assets/logo_small.png">
 --></div>

    <ng-include src="template.url"></ng-include>

<div class="brain-container">
  
  <div class="user-brain">
    <div class="your-brain">
      {{ user.first_name }}'s Brain
    </div>
    <div class="brain-image"></div>
  </div>

  <div class="total-brain-cells">
    <div class="total-cells-title">
      Brain Points
    </div>
    <div class="total-cells-num">
      {{ brain.points }}
    </div>
  </div>
</div>

<!-- <div class="box-dash-container">
  <div class="box-dream box-dash">
    <div class="nav-dream nav-dash">Dream</div>
    <div class="daily-dream daily-dash">Pursue your Dream</div>
    <div class="science-dream science-dash"><%#= image_tag(asset_path("brain_gradient_60px.png"), :class => "science-brain")%> science</div>
  </div>

  <div class="box-happiness box-dash">
    <div class="nav-happiness nav-dash">Mind</div>
    <div class="daily-happiness daily-dash">Create Inner Peace</div>
    <div class="science-happiness science-dash"><%#= image_tag(asset_path("brain_gradient_60px.png"), :class => "science-brain")%> science</div>
  </div>

  <div class="box-loveall box-dash">
    <div class="nav-loveall nav-dash">Love<span class="all-green">ALL</span></div>
    <div class="daily-loveall daily-dash">Help a Friend</div>
    <div class="science-happiness science-dash"><%#= image_tag(asset_path("brain_gradient_60px.png"), :class => "science-brain")%> science</div>

  </div>

</div> -->