<div ng-if="notLoggedIn" ng-include="'/templates/reply_modal.html'"></div>

<div class="row">
  
  <a class="logout" data-method="delete" href="/users/sign_out" rel="nofollow">Logout</a>   

</div>

<div class="dash-logo"></div>

<div ng-hide="actionComplete" class="action-of-day">
	<div class="action-text"><strong>{{name}}</strong>, <span class="blue">{{senderName}}</span> told us "I <span class="red">love</span> <strong>{{name}}</strong>...
		<div class="sendlove-body">
			{{body}}"
		</div><br>
	</div>
	<form id="action_form" name="sendloveForm" ng-submit="saveSendlove()">
		<input type="hidden" class="action-name" ng-model="sendloveName" ng-value="name">
		<div class="action-text">What do you <span class="red">love</span> about <span class="blue">{{senderName}}</span>?</div>
		<textarea id="action_text" class="sendlove-textarea reply-textarea" ng-model="sendloveBody"></textarea><br>
    <input type="hidden" ng-model="sendloveUserId" class="action-name sendlove-email" ng-value="senderId"><br>
		<input type="submit" class="button submit-button sendlove-reply-submit" value="Send Love">
	</form>

	<div class="science-box">
<!-- 		<div class="brain-points"><strong>100</strong><div class="cell">Brain Points</div> </div> -->
<!-- 		<div class="science-happiness science-dash action-science">
			Sending Love Creates:
		</div>
		<div class="science-stat"><strong>Loving Realtionships</strong><div class="cell"></div></div>
		<div class="science-stat"><strong>Happiness for you both</strong><div class="cell"></div> </div> -->
	</div>
	<div class="proof-box">
		<a href="http://blogs.berkeley.edu/2013/01/03/the-past-years-top-10-scientific-insights-about-living-a-meaningful-life/" target="_blank">
			<div class="science-brain"></div>
			Science
		</a>
	</div>

<!-- 	<div class="points-box">
		<div class="plus">+</div>
		<strong>100</strong></br> Brain Points
	</div> -->
</div>

<!-- ANIMATIONS after COMPLETE -->
<div class="points-anime" ng-class="{startanimate: actionComplete}" >100</div>
<div ng-show="actionComplete" class="brain-activity"></div>


<!-- TEMPLATE after ACTION is COMPLETE -->
<div ng-show="actionComplete" class="gratitude-complete">
	<div class="hardwire">Hardwire Happiness:</div>
	<div class="habit">Feel the <strong>love!</strong> You just <span class="blue">hardwired</span> a <strong>strong connection</strong> of <strong>love</strong> and <strong>happiness</strong> in <span class="blue">{{name}}'s</span> brain and your own!</div>

	<!-- 	<div class="cells-activated">100 of your positive brain cells have been activated!</div> -->

</div>

<div class="brain-container">
  
  <div class="user-brain">
    <div class="your-brain">
      {{ name }}'s Brain
    </div>
    <div class="brain-image"></div>
  </div>

  <div class="total-brain-cells">
    <div class="total-cells-title">
      Brain Points
    </div>
    <div class="total-cells-num">
      0
    </div>
  </div>
</div>




