<div class="action-of-day">
	<div class="action-text">I am <strong>Grateful</strong> for...</div>

	<form id="gratitude-form">
		<textarea></textarea><br>
		<input class="button submit-button" type="submit" value="Create Happiness">
	</form>

<!-- 	<div class="science-box">
		<div class="science-happiness science-dash action-science"><%#= image_tag(asset_path("brain_gradient_60px.png"), :class => "science-brain")%>Gratitude Creates:
		</div>
		<div class="science-stat">Dopamine: <strong>250</strong></div>
		<div class="science-stat">Brain Cells: <strong>500</strong></div>
		<div class="science-stat">Improves: <strong>Happiness, Relaxation</strong></div>
	</div> -->


</div>
