<div class="gratitude-complete">
	<div class="hardwire">Hardwire Happiness:</div>
	<div class="habit">Life is <strong>Good</strong>, take 30 seconds (or more), breathe and deeply appreciate...</div>

<!-- 	<div class="gratitude-message">Life is <strong>Good</strong>, deeply appreciate:</div> -->
	<div class="gratitude-body"><%= @gratitude.body %></div>

<!-- 	<div>
		Wire happiness by absorbing all that is good throughout the day.
	</div> -->

	<!-- 	<div class="cells-activated">100 of your positive brain cells have been activated!</div> -->

</div>