// Place all the styles related to the Dreams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dream-input {
	font-size: 20px !important;
	padding: 20px 10px !important;
	width: 270px;
	margin: 15px;
}

.dream-button {
	margin-top: 20px !important;
}
