@import "bootstrap";
@import "mixins/colors";

body { 
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', arial, helvetica, sans-serif;
  
}

.modal-box {
  display: none; 
  z-index: 1001;
}

.mindbliss-modal {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  top: 0px;
}

.blue {
  color: $love_blue;
}
.red {
  color: $love_red;
}